<div class="container center" style="width: 80%;">
	<div class="inner">
		<br>
		<p><strong>Welcome to RateYourCamp.com.</strong></p>
		<p>This website is designed to help you find a great camping spots and keep you away from the not-so-great spots.</p>
		<p>If you have been camping recently, help make the site a greater resource by leaving a review for the campsite.</p>
		<p>If you have any questions, comments, or suggestions for site improvement, please contact me at ineedtosetupsomekindofemail@rateyourcamp.com</p>
	</div>
</div>