<div class="container center">
	<p class="light-text">Welcome to RateMyCamp.com.</p>
	<p class="light-text">This website is designed to help you find a great camping sites and keep you away from not-so-great camping spots.</p>
</div>