.navbar-brand {
	font-weight: bold;
	color: red;
	color: #F2FFF2 !important;
}

.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-default .navbar-nav > li > a {
	color: #F2FFF2 !important;
}

.center {
	text-align: center;
}

.row {
	margin-bottom: 10px;
}

.inner{
	background-color: #F2FFF2;
	opacity: 0.98;
	border: solid 3px #4cae4c;
    border-radius: 25px;
    padding: 0px 15px 20px 15px;
    margin-bottom: 20px;
}

.col-md-6.left {
	text-align: center;
}

.col-md-6.right {
	text-align: center;
}

.light-text {
	color: #F2FFF2;
}

.user-show-reviews-scroll {
	height:680px;
	overflow: scroll;
	margin-bottom: 120px;
}

.campsite-show-reviews-scroll {
	height:350px;
	overflow: scroll;
	margin-bottom: 110px;
}

body {
	background-image: url('/rmc_3.jpg');
}

div > .inner > h1 {
	font-family: verdana;
}

h1, h2, h3, h4, h5, h6 {
    font-family: verdana;
}
p, div {
    font-family: verdana;
}

table > thead > tr > th {
	text-align: center; 
}