.navbar-brand {
	font-weight: bold;
}

.center {
	text-align: center;
}

.row {
	margin-bottom: 10px;
}

.inner{
	background-color: #F2FFF2;
	border: solid 3px #4cae4c;
    border-radius: 25px;
    padding: 0px 15px 20px 15px;
    margin-bottom: 20px;

}

.col-md-6.left {
	text-align: center;
}

.col-md-6.right {
	text-align: center;
}

