<div class="container center" style="width: 80%;">
	<div class="inner">
		<h1>Write a new review for <%= Campsite.find_by_id(params[:campsite_id]).sitename %></h1>

		<%= render 'form' %>

		<br>
		
	</div>
</div>
