<div class="container">

	<h1>Write a new review for <%= Campsite.find_by_id(params[:campsite_id]).sitename %></h1>

	<%= render 'form' %>

	<br>
	<%= link_to_function "Back", "history.back()", class: "btn btn-warning" %>

</div>
