<% if current_user.try(:admin?) %>

	<h1>New campsite</h1>

	<%= render 'form' %>

	<%= link_to 'Back', campsites_path %>

<% else %>

<div class="container center">
	<p class="light-text">Nothing to see here. Move along.</p>
</div>

<% end %>
